
.flexNav {
    display: inline-block;
}

.navFlex {
    display: flex;
    flex-direction: row;
}

.header_img_right {
    width: 40px;
}

.above_nav {
    display: flex;
}

.align_right {
    align-self: flex-end;
    margin-left: 1%;
}

.main_title {
            align-self: center;
    font-family: 'Droid serif', serif;
    font-size: 57px;
    font-weight: 500;
    font-style: italic;
    line-height: 44px;
}

body {
    width: 95vw;
}

.content {
    margin-left: 2vw;
}

p {
    text-align: justify;
}

#filters_display {
    display:flex;
}

.filters_display2 {
    display: flex;
    margin-left: auto;
}

.img_background {
    margin-top: 5vw;

}

.content_img {
    display: flex;
    flex-flow: row-reverse;
}

.fuckingfilters {
    display: flex;
}

.first_line {
    display: flex;
    justify-content: space-between;
}

.text_top_left {
    width: 60%;
}

.top_right_table {
    margin-right: 10%;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('http://i.stack.imgur.com/FhHRx.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}