.flexNav {
    display: inline-block;
}

.navFlex {
    display: flex;
    flex-direction: row;
}

.header_img_right {
    width: 40px;
}

.above_nav {
    display: flex;
}

.align_right {
    align-self: flex-end;
    margin-left: 1%;
}

.main_title {
            align-self: center;
    font-family: 'Droid serif', serif;
    font-size: 57px;
    font-weight: 500;
    font-style: italic;
    line-height: 44px;
}

body {
    width: 95vw;
}

.content {
    margin-left: 3vw;
    margin-right: 2vw;
}

p {
    text-align: justify;
}

#filters_display {
    display:flex;
}

.filters_display2 {
    display: flex;
    margin-left: auto;
}

.img_background {
    margin-top: 5vw;

}

.content_img {
    display: flex;
    flex-flow: row;
}

.fuckingfilters {
    display: flex;
    justify-content: space-around;
    border-style: double;
    
}

.first_line {
    display: flex;
    justify-content: space-between;
}

.text_top_left {
    width: 60%;
}

.top_right_table {
    margin-right: 10%;
}

/*ajax loader start here*/

#modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    height:     100%;
    width:      100%;
}

#img_modal {
        margin-left: 50%;
    margin-top: 10%;
}

#loader.loading #modal {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#loader.loading #modal {
    display: block;
}

/*special loader for the last 4 pages*/

#modal2 {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('https://media.giphy.com/media/ZgUPPFv6YbDOCaEKDf/giphy.gif') 
                50% 50% 
        no-repeat;}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */

#loader.loading #modal2 {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
#loader.loading #modal2 {
    display: block;
}

/*ajax loader finish here*/

/*message in case of not result with the filters*/

.notification{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

.top_page {
    margin-left: 3vw;
}

/*added text in case of the search show no result*/

.beautifulText{
      color: rgba(61, 164, 183, 0.82);
     text-align: center;
       font-size: 200%;
}

#freaking_footer {
    margin-bottom: auto;
}





#checkboxex_positions {
    justify-content: space-between;
    flex-flow: 1;
}

#my_checkboxes {
    flex: 2;
}
